body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}


/* INDEX PAGE */

.body-container {
    width: 100%;
    height: 100vh;
    background: url(../images/index\ bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.index-container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.centre-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index-content {
    padding: 0px 40px;
    max-width: 800px;
}

.welcome-text h2 {
    margin-bottom: 8px;
}

.welcome-text p {
    margin-bottom: 16px;
}

.welcome-ctas {
    display: flex;
    justify-content: center;
}

.wcta p {
    font-weight: 600;
    margin: 0 8px;
    padding: 8px 0px;
    width: 160px;
    border-radius: 8px;
}

.wcta-begin p {
    background-color: white;
    color: black;
}

.wcta-resume p {
    background-color: #ff9900;
    color: black;
}

.wcta-begin p:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.wcta-resume p:hover {
    background-color: black;
    color: #ff9900;
    transition: 0.5s;
}


/* SIGNIN/SIGNUP PAGE */

#signup-form {
    max-width: 660px;
}

.form-main {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4px;
}

.form-main input {
    font-family: 'Nunito', sans-serif;
    width: 98%;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 0 0 0 8px;
    margin-bottom: 8px;
    font-size: 15px;
}

#sform-submit {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    width: 100%;
    height: 40px;
    background-color: #ff9900;
    border: none;
    border-radius: 8px;
    font-size: 15px;
}

#sform-submit:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
}

#signup-form a,
#signin-form a {
    display: flex;
    margin-top: 8px;
    font-size: 14px;
    width: fit-content;
}

.leaderboard {
    margin-top: 8px;
}

.board span {
    color: #ff9900;
}

.invisible-input {
    display: none;
}

.password-toggle {
    position: relative;
    width: 100%;
}

.toggle-icon {
    position: absolute;
    top: 40%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('../images/eye-slash-fill.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.toggle-icon.visible {
    background-image: url('../images/eye-fill.svg');
}


/* MOBILE VIEW */

@media (max-width: 600px) {
    .index-content {
        padding: 0px 24px;
        max-width: 800px;
    }
    .index-content h2 {
        font-size: 20px;
    }
    .index-content p {
        font-size: 14px;
    }
    .welcome-ctas {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .form-main input,
    #sform-submit {
        font-size: 14px;
    }
    .toggle-icon {
        right: 12px;
    }
}

@media (max-width: 400px) {
    .welcome-ctas {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wcta {
        width: 100%;
    }
    .wcta p {
        margin: 0;
        padding: 8px 0px;
        width: 100%;
        border-radius: 8px;
    }
    .wcta-begin p {
        margin-bottom: 8px;
    }
}